RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /life-bot/src/public/index.php/$1 [L]

RewriteCond %{HTTP_HOST} ^peter-web.lionfree.net$ [NC,OR]

RewriteCond %{HTTP_HOST} ^peter-web.lionfree.net$

RewriteCond %{REQUEST_URI} !life-bot/src/public/

RewriteRule (.*) /life-bot/src/public/$1 [L]
